#myInput {
    background-image: url('./searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
  
#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}
  
#myTable th, #myTable td {
    text-align: left;
    padding: 12px;
}
  
#myTable tr {
    border-bottom: 1px solid #ddd;
}
  
#myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
}


.column-20 {
    width:20%;
}
.column-40 {
    width:40%;
}


.column-60 {
    width:60%;
}